{% extends 'user_index.html' %}
{% block h2 %}
<i class="bi bi-newspaper"></i> Объявления 
{% endblock %}


{% block content %}

{% if ads %}
<table class="table table-bordered table-sm table-hover">
	
	<thead class="bg-info text-white">
		<tr>
			<th class="text-center">№</th>
			<th class="text-center">Заголовок</th>
			<th class="text-center">Автор</th>
			<th class="text-center">Дата публикации</th>
			<th class="text-center">Действие</th>
		</tr>
	</thead>
	<tbody>
		{% for ad in ads %}
		<tr>
			<td class="text-center">{{ forloop.counter }}</td>
			<td class="">{{ ad.title }}</td>
			<td>{{ ad.author }}</td>
			<td>{{ ad.date_public }}</td>
			<td><a href="{% url 'delete_ads' pk=ad.pk %}">Удалить</a></td>

		</tr>
		{% endfor %}
	</tbody>
</table>

{% else %}
<div class="alert alert-danger">
	Новостей нет.
</div>
{% endif %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#staticBackdrop">
  <i class="bi bi-folder-plus"></i> Добавить
</button>


<form method="POST">
{% csrf_token %}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="staticBackdropLabel"><i class="bi bi-folder-plus"></i> Добавление объявления</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ form }}
      </div>
      <div class="modal-footer">
   
        <button type="submit" class="btn btn-info"><i class="bi bi-folder-plus"></i> Сохранить</button>
      </div>
    </div>
  </div>
</div>

</form>

{% endblock %}
