{% extends 'user_index.html' %}
{% load number_tags %}
{% load crispy_forms_tags %}
{% block h2 %}
<i class="bi bi-motherboard"></i> Реестр организаций
{% endblock %}



{% block content %}


<div class="card mt-">
  <h6 class="card-header"><i class="bi bi-search"></i> Поиск организаций</h6>
  <div class="card-body">
   <form class="needs-validation" novalidate method="get">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Краткое наименование</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="" value="{% if short_title %}{{ short_title }}{%endif%}" required name="short_title">
   
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Ведомственная организация</label>

        <select class="custom-select " name="department">
        	<option >-</option>
        	{% for departamental in departmentals %}

        	<option value="{{ departamental.pk }}"  {% if departamental.pk == department %} selected {% endif %}>{{ departamental.title }}</option>
        	{% endfor %}
     
        </select>

   
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Заблокированные</label>
      <div class="input-group">

        <select class="custom-select" name="ban" >

        	<option value="1" {% if ban %}selected{% endif %}>Показывать</option>
        	<option value="0" {% if not ban %}selected{% endif %}>Скрыть</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-row">
  	    <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Тип</label>
      <div class="input-group">

        <select class="custom-select ">
        	<option>-</option>
        	{% for type in types %}
        	<option>{{ type.title }}</option>
        	{% endfor %}
     
        </select>
      </div>
    </div>
  </div>

  <button class="btn btn-info" type="submit"><i class="fa fa-search"></i> Поиск</button>
</form>

  </div>
</div>


	<table class="table table-bordered table-sm  table-hover mt-3">
		<thead class="bg-info text-white">
			<tr>
				<th class="text-center">№</th>
				<th class="text-center">Наименование</th>
				
				<th class="text-center">Учебный год</th>
				
				<th class="text-center">Ведомственная организация</th>
				<th class="text-center" >Действие</th>
			</tr>
			</thead>
		<tbody>
			{% for institution in institutions %}
			<tr>
				<td class="text-center">{{ forloop.counter }}</td>
				<td>{{ institution.short_title }}</td>
				
				<td>{{ institution.year }}</td>
				
				<td> {{ institution.departmental_organization }} </td>


				<td class="action text-center"> 
              <a href="{{ institution.edit_url }}" title="Редактировать"><i class="bi bi-pen"></i></a>
            

{% if institution.is_active %}
					<a href="{% url 'BlockInstitution' institution=institution.pk %}" title="Заблокировать"><i class="bi bi-asterisk"></i></a>
					{% else %}
					<a href="{% url 'UnBlockInstitution' institution=institution.pk %}" title="Разблокировать"><i class="bi bi-arrow-return-left"></i></a>

					<a href="{% url 'DeleteInstitution' institution=institution.pk %}" title="Удалить навсегда"><i class="bi bi-trash-fill"></i></a>
					{% endif %}


					
          </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% if not request.user.institution or request.institution.lim != '0' %}
	<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
	  <i class="bi bi-folder-plus"></i> Добавить
	</button>
	{% endif %}
	<!-- Modal -->
	<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header  bg-info">
	        <h5 class="modal-title text-white" id="exampleModalLabel"><i class="bi bi-folder-plus"></i> Добавление образовательной организации</h5>
	        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form action="" method="POST">
	      <div class="modal-body">


	        {% for i in form %}
	       	{% if i != form.departmental_organization %}
	       	{{ i|as_crispy_field }}

	       	{% elif not uo and i == form.departmental_organization %}
	       	{{ i|as_crispy_field }}
	       	{% endif %}
	        {% endfor %}
	        {% csrf_token %}
	      </div>
	      <div class="modal-footer">
	   
	        <button type="submit" class="btn btn-info"><i class="bi bi-folder-plus"></i> Добавить</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>
   
{% endblock %}
