{% extends 'user_index.html' %}
{% block h2 %}

{% endblock %}


{% block content %}

  

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}





<div class="container-xl px-4 mt-4" >


    <nav class="nav  nav-borders">
  
    <a class="nav-link active" data-toggle="tab" href="#description">Основная информация</a>

    <a class="nav-link" data-toggle="tab" href="#characteristics">Типы экзаменов</a>

    {% if not departmentals %}
    <a class="nav-link" data-toggle="tab" href="#opinion">Типы уроков</a>
    {% endif %}
</nav>
    <hr class="mt-0 mb-4">

<div class="tab-content">
  <div class="tab-pane fade show active" id="description">
    
        <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Фотография</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src=" {% if form.instance.photo %}{{ form.instance.photo.url }} {% else %} {% endif %}" alt="">
                    <!-- Profile picture help block-->
                    <div id="text_img"  class="small font-italic text-muted mb-4">JPG или PNG фото не более 5МБ</div>
                    <!-- Profile picture upload button-->

                    <div class="custom-file">
                          <input type="file" class="custom-file-input"  name="photo" id="photo" accept="image/*">
                          <label class="custom-file-label" for="customFileLangHTML" data-browse="Выбрать файл"></label>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Информация об организации</div>
                <div class="card-body">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">{{ form.title.label }}</label>
                            {{ form.title }}
                        </div>

                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">{{ form.short_title.label }}</label>
                            {{ form.short_title }}
                        </div>


                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            {% for item in form %}
                            {% if item != form.title and item != form.short_title  and item != form.photo %}
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">{{ item.label }}</label>
                                {{ item }}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit">Сохранить изменения</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

  </div>
  <div class="tab-pane fade" id="characteristics">
    

    <table class="rtable">
        <thead>
            <th>№</th>
            <th>Полное наименование</th>
            <th>Краткое наименование</th>
            <th>Тип</th>
        </thead>
                <tbody>
            {% for type in typese %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ type.name }}</td>
                <td>{{ type.short_name }}</td>
                <td>{% if type.institution %}Индвидуальный{% else %}Системный{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Добавить тип экзамена
</button> 

<form method="POST">
{% csrf_token %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление типа экзамена</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        {{ form3 }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" name="exams">Добавить</button>
      </div>
    </div>
  </div>
</div>
</form>

  </div>
  <div class="tab-pane fade" id="opinion">
    
    <table class="rtable">
        <thead>
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>Краткое наименование</th>
                <th>Тип</th>
            </tr>
        </thead>

        <tbody>
            {% for type in types %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ type.name }}</td>
                <td>{{ type.short_name }}</td>
                <td>{% if type.institution %}Индвидуальный{% else %}Системный{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
  Добавить тип урока
</button> 

<form method="POST">
{% csrf_token %}
<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление типа уроков</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        {{ form2 }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" name="typelesson">Добавить</button>
      </div>
    </div>
  </div>
</div>
</form>

  </div>




</div>






</div>






</form>

<style type="text/css">
  body{

color:#69707a;
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}



</style>
 
<script type="text/javascript">
    
    $("#photo").change(function(){
        $("#text_img").text($(this).val().split('/').pop().split('\\').pop())
    })

</script>

{% endblock %}
