{% extends 'user_index.html' %}
{% load number_tags %}
{% block h2 %}
Организации
{% endblock %}


{% block content %}
	<table class="table table-sm table-bordered">
			<tr>
				<td>Наименование</td>
				<td>Действие</td>
			</tr>
		<tbody>
			{% for institution in institutions %}
			<tr>
				<td>{{ institution.short_title }}</td>
				<td><a href="">Удалить</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
	  Добавить
	</button>

	<!-- Modal -->
	<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-xl" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Добавление учебного предмета</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form action="" method="POST">
	      <div class="modal-body">
	        {{ form }}
	        {% csrf_token %}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
	        <button type="submit" class="btn btn-success">Добавить</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>
   
{% endblock %}