{% extends 'user_index.html' %}
{% load number_tags %}
{% block h2 %}
Реестр образовательных организаций
{% endblock %}


{% block content %}
	<table class="rtable">
		<thead>
			<tr>
				<th>Наименование</th>
				
				<th>Число сотрудников</th>
				
				<th>Ведомственная организация</th>
				<th class="text-center" colspan="2">Действие</th>
			</tr>
			</thead>
		<tbody>
			{% for institution in institutions %}
			<tr>
				<td>{{ institution.short_title }}</td>
				
				<td></td>
				
				<td></td>
				<td><a href="">Редактировать</a></td>
				<td>
					{% if institution.is_active %}
					<a href="{% url 'BlockInstitution' institution=institution.pk %}">Заблокировать</a>
					{% else %}
					<a href="{% url 'UnBlockInstitution' institution=institution.pk %}">Разблокировать</a>
					{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
	  Добавить
	</button>

	<!-- Modal -->
	<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-xl" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Добавление образовательной организации</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form action="" method="POST">
	      <div class="modal-body">
	        {{ form }}
	        {% csrf_token %}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
	        <button type="submit" class="btn btn-success">Добавить</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>
   
{% endblock %}