{% extends 'user_index.html' %}


{%  block h2 %}
<i class="bi bi-pencil-fill"></i> Редактирование учебных периодов
{% endblock %}

{% block content %}


	<form action="" method="post">
		{% csrf_token %}

		<div class="four mt-4">
			<table class="table table-bordered table-sm table-hover " >
				<thead class="bg-info text-white">
					<tr>
						<th class="text-center">Период</th>
						<th class="text-center">Начало</th>
						<th class="text-center">Окончание</th>
					</tr>
				</thead>
				<tbody>
				{% for period in periods %}
				<tr class="text-center" id="one_per" >
					<td id="one_title">{{ forloop.counter }} {% if period_profile.typePeriod == 4 %}четверть{%endif%} {% if period_profile.typePeriod == 3 %}триместр{%endif%}{% if period_profile.typePeriod == 2 %}полугодие{%endif%}</td>
					<td><input name="start{{ period.pk }}" id="id_one"   class="form-control form-control-sm" type="date" value="{{ period.start|date:'Y-m-d' }}" required=""></td>
					<td><input name="end{{ period.pk }}" class="form-control form-control-sm" type="date" value="{{ period.end|date:'Y-m-d' }}" required=""></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<button type="submit" class="btn btn-info mt-3"><i class="bi bi-folder-symlink"></i> Сохранить изменения</button>
	</form>



{% endblock %}
