{% extends 'user_index.html' %}
{% load study_tags %}
{% block h2 %}
<i class="bi bi-pie-chart"></i> Профили учебных периодов
{% endblock %}


{% block content %}
	<table class="table table-bordered table-sm table-hover">
		<thead  class="bg-info text-white">
		<tr >
			<th class="text-center">№</th>
			<th class="text-center">
				Наименование
			</th>
			<th class="text-center">
				Учебный год
			</th>
			<th class="text-center">Статус</td>
			<th class="text-center"   >
				Действие
			</th>
		</tr>
		</thead>
		{% for i in period_profile %}
		{% check_status bell_profile_pk=i.pk as status %}
		<tr>
			<td class="text-center">{{ forloop.counter }}</td>
			<td class="text-center">{{ i.title }}</td>
			<td class="text-center">{{ i.year }}</td>
			<td class="text-center">{% if status %}Используется{% else %}Не используется{% endif %}</td>
			<td class="text-center">
				<a href="{{ i.update_url }}" title="Редактировать" ><i class="bi bi-pencil-square"></i></a>
				{% if not status %}<a href="{{ i.delete_url }}"  title="Удалить"><i class="bi bi-trash-fill"></i></a>{% else %} <a  class=" btn-tooltip text-muted" data-toggle="tooltip" data-placement="bottom" title="Используется"><i class="bi bi-trash-fill"></i></a> {% endif %}
			</td>
		
		</tr>
		{% endfor %}
	</table>
	{{ period_p }}
	<a class="btn btn-info" href="{% url 'AddPeriods' %}"><i class="bi bi-folder-plus"></i> Добавить</a>

   
{% endblock %}