{% extends 'user_index.html' %}
{% block h2 %}
Профили учебных периодов
{% endblock %}


{% block content %}
	<table class="table table-bordered   table-sm">
		<tr>
			<td>
				Наименование
			</td>
			<td>
				Учебный год
			</td>

			<td colspan="3">
				Действие
			</td>
		</tr>
		{% for i in period_profile %}
		<tr>
			<td>{{ i.title }}</td>
			<td>{{ i.year }}</td>
			<td><a class=""  href="" >Просмотр</a></td>
			<td><a href="" >Редактировать</a></td>
			<td><a href="{{ i.delete_url }}" >Удалить</a></td>
		</tr>
		{% endfor %}
	</table>
	{{ period_p }}
	<a class="btn btn-success" href="{% url 'AddPeriods' %}">Добавить</a>

   
{% endblock %}