{% extends 'user_index.html' %}


{% block content %}


	<form action="" method="post">
		{% csrf_token %}

		<div class="four mt-4">
			<table class="table table-bordered table-sm table-striped " >
					<tr>
						<td>Период</td>
						<td>Начало</td>
						<td>Окончание</td>
					</tr>
				{% for period in periods %}
				<tr id="one_per">
					<td id="one_title">{{ forloop.counter }} {% if period_profile.typePeriod == 4 %}четверть{%endif%} {% if period_profile.typePeriod == 3 %}триместр{%endif%}{% if period_profile.typePeriod == 2 %}полугодие{%endif%}</td>
					<td><input name="start{{ period.pk }}" id="id_one"   class="form-control form-control-sm" type="date" value="{{ period.start|date:'Y-m-d' }}" required=""></td>
					<td><input name="end{{ period.pk }}" class="form-control form-control-sm" type="date" value="{{ period.end|date:'Y-m-d' }}" required=""></td>
				</tr>
				{% endfor %}
			</table>
		</div>

		<button type="submit" class="btn btn-success mt-3">Сохранить</button>
	</form>



{% endblock %}
