{% extends 'user_index.html' %}
{% load static %}


{% block content %}



   <div class="media align-items-center py-3 mb-3">
    {% if request.user.avatar %}
    
     <img class="d-block ui-w-100 rounded-circle" style="width:100px;height:100px" src="{{ request.user.avatar.url }}" alt="">
    {% else %}
    <img style="width:100px;height:100px" src="{% static 'img/no-user-image-icon-27.jpg' %}" alt="" class="d-block ui-w-100 rounded-circle">
    {% endif %}
    <div class="media-body ml-4">
      <h4>{{ request.user.last_name }} {{ request.user.first_name }} {{ request.user.middle_name }}</h4>
      <div class="text-muted">{% if request.user.position %}{{ request.user.position }}{% else%}Должность{% endif %}</div>
    </div>

   </div>
   <div class="card ">
              <div class="card-body">
                <div class="row">
                  <div class="col text-muted">Организация:</div>
                  <div class="col">{{ request.user.institution }}</div>
                </div>
                <div class="row">
                  <div class="col text-muted">Дата регистрации:</div>
                  <div class="col">{{ request.user.date_joined }}</div>
                </div>
                <div class="row">
                  <div class="col text-muted">Дата последного входа:</div>
                  <div class="col">{{ request.user.last_login }}</div>
                </div>
              </div>
            </div>


{% endblock %}