{% extends 'user_index.html' %}


{% block h2 %}
<i class="bi bi-person-lines-fill"></i> {{ title }}
{% endblock %}

{% block content %}


   <table class="rtable  mt-3">
    <thead class="thead-light">
     <tr>
    	<th >№</th>
       <th >ФИО</th>
       <th >Логин</th>
       <th>Должность</th>
       <th>Пригласительный код</th>
       <th>Дата рождения</th>
       <th style="text-align: center;"  colspan="2">Действие</th>       
     </tr>
     </thead>
     	{% for i in users %}
     	<tr>
     		<td>{{ forloop.counter }}</td>
     		<td>{% if i.last_name %}{{ i.last_name  }}  {{ i.first_name }} {{ i.middle_name }} {% else %} <a class="text-danger">Заполните информацию!</a> {% endif %}</td>

        <td>{% if not i.code %} {{i.username}} {% endif %}</td>
        <td>{% if i.position %}{{ i.position|truncatechars:20 }}{% endif %}</td>
        <td>{% if i.code %} {{i.code}} {% endif %}</td>
        <td>{% if i.birth_day %}{{ i.birth_day }} {% else %} <a class="text-danger">Не указана</a> {% endif %}</td>
     		<td ><a href="{{ i.get_absolute_url }}">Редактировать</a></td>
     		<td >
            {%if i != request.user%}
            <a href="{{ i.ban }}"> Заблокировать</a>
            {% else %}
            <a  class=" btn-tooltip text-muted" data-toggle="tooltip" data-placement="bottom" title="Невозможно">Заблокировать</a>

            {% endif %}
         </td>
     	</tr>
     	{% endfor %}
   </table>
   <div>
    
   <a style="text-decoration: none;" class="btn btn-success" href="{% url 'AddUser' %}"><i class="bi bi-person-plus"></i> Добавить</a> 
   <a style="text-decoration: none;" class="btn btn-success" href="{% url 'ImportUser' %}"><i class="bi bi-file-earmark-arrow-up"></i> Импорт</a>
   </div>
{% endblock %}