{% extends 'user_index.html' %}



{% block content %}


   <table class="table table-bordered table-sm mt-3">
    <thead class="thead-light">
     <tr>
    	<th>№</th>
       <th>ФИО</th>
       <th>Логин</th>
       <th colspan="2">Действие</th>       
     </tr>
     </thead>
     	{% for i in users %}
     	<tr>
     		<td>{{ forloop.counter }}</td>
     		<td>{{ i.last_name  }}  {{ i.first_name }} {{ i.middle_name }}</td>

        <td>{{ i.username }}</td>
     		<td><a href="{{ i.get_absolute_url }}">Редактировать</a></td>
     		<td><a href="{{ i.ban }}">Заблокировать</a></td>
     	</tr>
     	{% endfor %}
   </table>
   <a class="btn btn-success" href="{% url 'AddUser' %}">Добавить</a> 
   <a class="btn btn-danger" href="{% url 'ImportUser' %}">Импорт</a>
{% endblock %}