{% extends 'user_index.html' %}
{% load number_tags %}
{% block h2 %}
Добавление профиля звонков
{% endblock %}


{% block content %}

{{ links }}
{{ lookup }}

	<form action="" method="POST">
		{% csrf_token %}
		{{ form }}

		<div class="row">

		{% for days in days %}    
    

		<div class="col-4 ">
		<table class="table table-sm table-bordered  mt-3">
			<tr>
				<td colspan="3">{{ days }}</td>
			</tr>
			<tr>
				<td>№</td>
				<td>Начало</td>
				<td>Окончание</td>
			</tr>
			{% for i in '1234567' %}
			<tr>
				<td>{{ i }}</td>
				<td><input id="b{{ forloop.parentloop.counter }}{{ forloop.counter }}" name="b{{ forloop.parentloop.counter }}{{ forloop.counter }}" type="text" class="form-control form-control-sm" placeholder="00:00"></td>
				<td><input id="e{{ forloop.parentloop.counter }}{{ forloop.counter }}" name="e{{ forloop.parentloop.counter }}{{ forloop.counter }}" type="text" class="form-control form-control-sm" placeholder="00:00"></td>
			</tr>
			{% endfor %}
		</table>
		</div>
	
		{% endfor %}
		</div>
		
		<button class="btn btn-success">Сохранить</button>
		<button type="button" id="copy" class="btn btn-primary">Копировать (с понедельника)</button>
		<script>
			copy.onclick=function(){
			let i = 1;

			while (i < 6) { // выводит 0, затем 1, затем 2
			i++;
			for (let b = 1; b < 8; b++) {

			  document.getElementById('b'+i+b).value=document.getElementById('b'+1+b).value;
			  document.getElementById('e'+i+b).value=document.getElementById('e'+1+b).value;
			}
			

		}
		}
		</script>
	</form>
	
   
{% endblock %}