{% extends 'base.html' %}
{% block title %}
	{{title}}
{% endblock %}
{% block sidebar %}
{% include 'inc/sidebar.html' %}	
{% endblock %}

{% block content %}


    		<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Добро пожаловать!</h1>
      <p>ПК "Бусел" - это комплекс приложений для оценки качества образования и мониторинга учебного процеcса. Включает в себя весь необходимый функционал для образовательных организаций.
Разрабатывается с мая 2020 года. В настоящий момент система находится на этапе тестирования и готовится к официальному запуску.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше »</a></p>
    </div>
  </div>

  <div class="container container-fluid">
    <!-- Example row of columns -->
    <div class="row">
    {% for news in news %}
      <div class="card mb-4 shadow-sm">
          {% if news.photo %}
            <img src="{{ news.photo.url }}">
            {% else %}
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ news.title }}</text></svg>
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{ news.content }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Просмотреть</button>

                </div>
                <small class="text-muted">{{ news.created_at|date:"d.m.Y" }}</small>
              </div>
            </div>
          </div>
    {% endfor %}
    </div>

    <hr>

<footer class="container">
  <p>© ПК "Бусел" 2020-2021</p>
</footer>
  </div>
{% endblock %}