{% extends 'base.html' %}
{% block title %}
	{{title}}
{% endblock %}
{% block sidebar %}
{% include 'inc/sidebar.html' %}	
{% endblock %}

{% block content %}


    		<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Добро пожаловать!</h1>
      <p>ПК "Бусел" - это комплекс приложений для оценки качества образования и мониторинга учебного процеcса. Включает в себя весь необходимый функционал для образовательных организаций.
Разрабатывается с мая 2020 года. В настоящий момент система находится на этапе тестирования и готовится к официальному запуску.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
    {% for news in news %}
      <div class="col-md-4">
        <h2>{{ news.title }}</h2>
        <p>{{ news.content }}</p>
        <p><a class="btn btn-secondary" href="#" role="button">Подробнее</a></p>
      </div>
    {% endfor %}
    </div>

    <hr>
<footer class="container">
  <p>© ПК "Бусел" 2020-2021</p>
</footer>
  </div>
{% endblock %}