{% extends 'auth_reg.html' %}
{% load static %}


{% block title_page %}
	Авторизация
{% endblock %}
{% block sidebar %}
{% endblock %}

{% block content %}




    		<form class="form-signin" method="post">
    			{% csrf_token %}
  <div class="text-center mb-4">
    <img class="mb-4" src="{% static 'img/busel2_0-logo.png' %}"  width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
    <p>Внимательно вводите  <code>логин и пароль</code>
  </div>

{% if messages %}
        {% for message in messages %}

        {% if message.tags == 'error' or message.tags == 'warning' %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% else %}
           <div class="alert alert-success" role="alert">
            {{ message }}
          </div>
        {% endif %}
        {% endfor %}
        {% endif %}


  <div class="form-label-group">
    <label for="inputEmail">Логин</label>
    <input type="text" class="form-control {% if error %}is-invalid{% endif %}" id="validationServer03" aria-describedby="validationServer03Feedback" required name="username"> 
    
    
  </div>

  <div class="form-label-group">
    <label for="inputPassword">Пароль</label>
    <input type="password" class="form-control {% if error %}is-invalid{% endif %}" id="validationServer03" aria-describedby="validationServer03Feedback" required name="password"> 
    
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Запомнить меня
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
  <p class="mt-5 mb-3 text-muted text-center">©Бусел 2020-2022</p>
</form>

<style>
	
	body{

		background-color: #f5f5f5;
	}
</style>
{% endblock %}