{% extends 'auth_reg.html' %}
{% load static %}


{% block title %}
  Авторизация
{% endblock %}
{% block sidebar %}
{% endblock %}

{% block content %}




<body class="my-login-page">

  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          <div class="brand">
            <img src="{% static 'img/busel2_0-logo.png' %}" alt="logo">
          </div>
          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title">Авторизация</h4>
              <form class="form-signin" method="post">
          {% csrf_token %}
                <div class="form-group">
                  <label for="email">Логин</label>
                  <input id="email" value="{{ login }}" type="" class="form-control {% if error %}is-invalid{% endif %}" name="username" value="" required autofocus name="username" > 
                  <div class="invalid-feedback">
                    Введите правильный логин
                  </div>
                </div>

                <div class="form-group">
                  <label for="password">Пароль
                    <!--
                    <a href="forgot.html" class="float-right">
                      Забыли пароль?
                    </a>
                  -->
                  </label>
                  <input id="password" type="password" class="form-control {% if error %}is-invalid{% endif %}" name="password" required data-eye name="password">
                    <div class="invalid-feedback">
                      Пароль неверный
                    </div>
                </div>

                <div class="form-group">
                  <div class="custom-checkbox custom-control">
                    <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                    <label for="remember" class="custom-control-label">Запомнить меня</label>
                  </div>
                </div>

                <div class="form-group m-0">
                  <button type="submit" class="btn btn-primary btn-block">
                    Войти
                  </button>
                </div>
                <div class="mt-4 text-center">
                  У вас нет аккаунта? <a href="{% url 'register' %}">Регистрация</a>
                </div>

                <div class="mt-4 text-center">
                  Забыли пароль? <a href="{% url 'password-reset' %}">Восстановить</a>
                </div>
              </form>
            </div>
          </div>
          <div class="footer">
            Copyright &copy; 2020-2023 &mdash; ПК "Бусел"
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<script>
var el=document.getElementById('email');
el.focus();
el.setSelectionRange(el.value.length,el.value.length);
</script>


{% endblock %}