

.sc3::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.sc3::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
.sc3::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}



.myTable > thead{
width:200px;
}
.myTable > tbody td{
height: 31px;

}
.myTable{
width:100%;
float:left;

}


.mycol1 {padding-left: 0; padding-right:0;}
.mycol2 { padding-right:0;}



.myTable > table td input{

    
    border: 1px!important;
    display: block;
    font-size: inherit;
    font-weight: 400;
    height: 100%;
    line-height: 14px;
    margin: 0!important;
    outline: none!important;
    padding: 0!important;
    position: static;
    text-align: center;
    text-transform: uppercase;
    width: 100%!important;
    z-index: 2!important;
}

.month{
  display: none;
}
.mycol {padding-left: 0; padding-right:0;}
.mycol2 { padding-right:0;}

.day,.month,.date{
text-align: center;
}

.myTable {
border: none;

border-collapse: collapse;
border-spacing: 0;
font: normal 13px Arial, sans-serif;
}
.myTable thead td {
background-color: #EEE;
border: none;
color: grey;
padding: 5px;
text-align: left;
text-shadow: 1px 1px 1px #fff;
white-space: nowrap;
}
.myTable tbody td {
color: #333;
padding: 5px;
height:32px;
text-shadow: 1px 1px 1px #fff;
white-space: nowrap;
}
.myTable tbody td, .myTable thead th {
border: 1px solid #ccc;
}
.row-2{
height:72px;
}

.date{

height: 32px;
}


.student{
max-height:32px;
}

