 {% load user_tags %}

 <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" href="#">Бусел </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'HomePageUserAccount' %}">Главная <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user|is_group %}
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Организация
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'institutionsHome' %}">Информация</a>
          <a class="dropdown-item" href="{% url 'StudyPeriods' %}">Учебные периоды</a>
          <a class="dropdown-item" href="{% url 'Bell_profile_list' %}">Расписание звонков</a>
          <a class="dropdown-item" href="{% url 'Subject_list' %}">Учебные предметы</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'Curriculum' %}">Учебные планы</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Классы
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'Class' %}">Список классов</a>
          <a class="dropdown-item" href="{% url 'Load' %}">Учебная нагрузка</a>
          <a class="dropdown-item" href="{% url 'TimetableClasses' %}">Расписание</a>
        </div>
      </li>

      <li class="nac-item">
        <a class="nav-link" href="{% url 'users' %}">Сотрудники</a>
      </li>
      <li class="nac-item">
        <a class="nav-link" href="{% url 'StudentList' %}">Обучающиеся</a>
      </li>
      <li class="nac-item">
        <a class="nav-link" href="{% url 'JournalView' %}">Журнал организации</a>
      </li>
      <li class="nac-item">
        <a class="nav-link" href="{% url 'ReportsView' %}">Отчеты</a>
      </li>
       {% endif %}

       {% if request.user.is_superuser %}
      <li class="nac-item">
        <a class="nav-link" href="{% url 'InstitutionCreate' %}">Реестр организаций</a>
      </li>

       {% endif %}
  {% if request.user|teacher %}
<li class="nac-item">
        <a class="nav-link" href="{% url 'JournalView' %}">Мой журнал</a>
      </li>
  {% endif %}
    </ul>
    <span class="navbar-text">
      {% if request.user.is_authenticated %}
      Добро пожаловать,{{ user.username }} | <a href="{% url 'logout' %}">Выход</a>
      {% else %}
      <a href="{% url 'login' %}" >Вход</a> | 
        <a href="{% url 'register' %}" class="">Регистрация </a>
      {% endif %}
         
        
      </span>
  </div>
</nav>