{% extends 'user_index.html' %}
{% load mark_tags %}


{% block content %}



    <table class="myTable" style="width: auto;">
      <thead>
      <tr>
        <th id="row-2" style="width: 30px">№</thd>
        <th id="row-2" style="width:254px">Фамилия, имя</th>
        {% for period in periods %}
        <th id="row-2">{{ forloop.counter }} {% if period.profile.typePeriod == 2 %}полугодие{% endif %} {% if period.profile.typePeriod == 4 %}четверть{% endif %}</th>
        {% endfor %}
        <th>Пром. аттестация</th>
        <th>Годовая</th>
        <th>Экзамен</th>
        <th>Итоговая</th>
      </tr>
     
      </thead>
      <tbody>
        {% for student in students %}
        {% if student.user %}
          <tr style=" max-height: 32px;">
            <td style="height:32px;max-height:32px" class="student">{{ forloop.counter }}</td>
            <td style="height:32px;max-height:32px" class="student">{{ student.user.last_name }} {{ student.user.first_name }}</td>

            {% for period in periods %}
            {% get_marks_itog period=period.pk student=student.pk load=load_pk.pk as mark_itog %}
              <td id="">{% if mark_itog.mark %}{{ mark_itog.mark }}{% endif %}{% if mark_itog.not_certified == 1 %}н/а{% endif %}</td>
            {% endfor %}

            {% get_itogs itog=4 student=student.pk load=load_pk.pk as pa_itog %}
            <td class="itog" itog="4" id="pa{{ student.pk }}" class="itog" student="{{ student.pk }}" load="{{ load_pk.pk }}" markpk="{{pa_itog.pk}}">{% if pa_itog.mark %}{{ pa_itog.mark }}{% endif %}{% if pa_itog.not_certified == 1 %}н/а{% endif %}</td>

            {% get_itogs itog=1 student=student.pk load=load_pk.pk as year_itog %}
            <td class="itog" itog="1" id="g{{ student.pk }}" class="itog" student="{{ student.pk }}" load="{{ load_pk.pk }}" markpk="{{year_itog.pk}}">{% if year_itog.mark %}{{ year_itog.mark }}{% endif %}{% if year_itog.not_certified == 1 %}н/а{% endif %}</td>
            {% get_itogs itog=2 student=student.pk load=load_pk.pk as ekz_itog %}
            <td class="itog" itog="2" id="e{{ student.pk }}" class="itog" student="{{ student.pk }}" load="{{ load_pk.pk }}" markpk="{{ekz_itog.pk}}">{% if ekz_itog.mark %}{{ ekz_itog.mark }}{% endif %}{% if ekz_itog.not_certified == 1 %}н/а{% endif %}</td>
            {% get_itogs itog=3 student=student.pk load=load_pk.pk as it_itog %}
            <td class="itog" itog="3" id="i{{ student.pk }}" class="itog" student="{{ student.pk }}" load="{{ load_pk.pk }}" markpk="{{it_itog.pk}}">{% if it_itog.mark %}{{ it_itog.mark }}{% endif %}{% if it_itog.not_certified == 1 %}н/а{% endif %}</td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>




<input style="display: none;position: fixed;" id="mark" class="form-control" type="text">
<style>
.mycol {padding-left: 0; padding-right:0;}
tbody td{
height: 32px;
}
thead th{
background-color: #EEEEEE;
border: none;
color: grey;
padding: 5px;
height: 32px;
text-align: left;
text-shadow: 1px 1px 1px #fff;
white-space: nowrap;
}
thead{
width:200px;
}
tbody td{
height: 32px;
}
table{
width:100%;
float:left;
}
.day,.month,.date{
text-align: center;
}
</style>
<script type="text/javascript">
$(document).on('change', 'select#loads', function () {
var url = $(this.options[this.selectedIndex]).attr("url"); 
$.ajax({
type: "GET",
url: url,
success: function (result) {  
$('#periods option').remove();
name_period=''
if (result.length==2){
name_period=' полугодие'
}
if (result.length==4){
name_period=' четверть'
}
if (result.length==3){
name_period=' триместр'
}
for(var i = 1; i<=result[1]; i++){ //data[1] contains no of sem
$('#periods').append('<option value="' + result[i-1] + '">' + i+name_period +'</option>');
}

}

});

});

$('.itog').on('click',function(event){
    
    click_mark(this)
})



   $('#mark').on('keypress',function(e) {
    code = (window.event) ? window.event.keyCode : e.which;

    if(code == 13) {
        $(this).blur()
    }
});
  $('#mark').on('focusout',function(){
    var min_mark=parseInt('{{ request.user.institution.system_mark.min_mark }}')
    var max_mark=parseInt('{{ request.user.institution.system_mark.max_mark }}')
    var url='{% url 'Mark' %}'
    var tocken='{{ csrf_token }}'
    save_mark(this,url,tocken,min_mark,max_mark)

  })

 
    
</script>



{% endblock %}