{% extends 'user_index.html' %}
{% load mark_tags %}
{% load user_tags %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  {% if not request.user|teacher %}
  <div class="row">
    <div class="col">
       <select class="custom-select custom-select-sm "  name="load" id="classes" style="width:auto">
           {% for class in classes %}
            <option {% if load_pk.class_pk == class.pk %} selected="" {% endif %}  value="{{ class.pk }}" value="" url="{% url 'GetLoad' class_pk=class.pk %}">{{ class.class_number }}{{ class.letter }}</option>
          {% endfor %}
       </select>
    </div>
  </div>
  {% endif %}
  <div class="row mt-3">
    <div class="col">
        <select class="custom-select custom-select-sm "  name="load" id="loads">
          {% if not request.user|teacher %}
           {% for load in loads %}
           

            <option {% if load_pk.pk == load.pk %} selected="" {% endif %}   url="{% url 'CheckPeriod' load=load.pk %}" value="{{ load.pk }}" value="">{{ load.subject_pk }} {% if load.subgroup %} ({{ load.subgroup.name }}) {% endif %}</option>
          {% endfor %}
          {% else %}
          {% for load in loads %}
           
            <option {% if load_pk.pk == load.pk %} selected="" {% endif %}   url="{% url 'CheckPeriod' load=load.pk %}" value="{{ load.pk }}" value="">{{ load.class_pk }}/{{ load.subject_pk }} {% if load.subgroup %} ({{ load.subgroup.name }}) {% endif %}</option>
          {% endfor %}
          {% endif %}
       </select>
    </div>
    <div class="col">
        <select class="custom-select custom-select-sm "  name="period" id="periods">
          {% for periods in periods %}
          <option {% if period.pk == periods.pk %} selected="" {% endif %} value="{{periods.pk}}">{{ forloop.counter }}</option>
          {% endfor %}
       </select>
    </div>
    <div class="col">
      <button class=" btn btn-sm btn-primary">Показать</button>
    </div>
  </div>
</form>


<div class="row mt-3">
  <div class="col-xs">
    <a href="{% url 'LessonTopics' load=load_pk.pk period=period.pk %}" class="btn btn-primary btn-sm">Темы уроков и дз</a>
  </div>
  <div class="col">
    <a  href="{% url 'ItogView' load=load_pk.pk period=period.pk %}" class="btn btn-primary mr-3 btn-sm">Итоговая ведомость</a>
  </div>
</div>

<div class="row mt-3" id="tables" >
  <div style="width: 150px" class="col-3 mycol" style="" style=""> 
    <table class="myTable" style=>
      <thead>
      <tr>
        <th id="row-2" style="width: 30px">№</thd>
        <th id="row-2">Фамилия, имя</th>
      </tr>
     
      </thead>
      <tbody>
        {% for student in students %}
          <tr style=" max-height: 32px;">
            <td style="height:32px;max-height:32px" class="student">{{ forloop.counter }}</td>
            <td style="height:32px;max-height:32px" class="student">{{ student.user.last_name }} {{ student.user.first_name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<div id="scroll" class="mycol" style=";max-width: 546px;overflow-x: scroll;">
    <table style="width:auto" id="table2"  class="myTable">
      <thead>
        
      
      <tr>
        <th class="month" colspan="0" id="sep" style="display: none;">Сентябрь</th>
        <th class="month" colspan="0" id="oct" style="display: none;">Октябрь</th>
        <th class="month" colspan="0" id="nov" style="display: none;">Ноябрь</th>
        <th class="month" colspan="0" id="dec" style="display: none;">Декабрь</th>
       
      </tr>
      
      <tr>
        {% for lesson in lessons %}
        <th id=""  colspan="{{ lesson.types.all.count }}" class="date">{{ lesson.date|date:'d' }}</th>
  
        {% endfor %}
      </tr>
      <tr>
        {% for lesson in lessons %}
        {% if lesson.types.all %}
        {% for lesson_type in lesson.types.all %}
        <th id="day" class="date day{{ lesson.date|date:'m' }}">{{ lesson_type.short_name }}</th>
        {% endfor %}
        {% else %}
        <th id="" class="date day{{ lesson.date|date:'m' }}">-</th>
        {% endif %}
        {% endfor %}
      </tr>
      </thead>

      <tbody>
        {% for student in students %}
        <tr class="mark_tr">
        {% for lesson in lessons %}
        {% if lesson.types.all %}
        {% for lesson_type in lesson.types.all %}
        {% get_marks lesosn=lesson.pk type_l=lesson_type.pk student=student.pk as mark %}
        <td student="{{ student.pk }}" type="{{lesson_type.pk}}" lesson="{{lesson.pk}}" id="{{ lesson_type.pk }}{{ lesson.pk }}{{ student.pk }}" class="day {{ student.pk }}" markpk="{{mark.pk}}" >{% if mark.mark %}{{ mark.mark }}{% endif %}{%if mark.attendance == 1 %}н{% endif %}</td>
        {% endfor %}
        {% else %}
        <td id="" ></td>
        {% endif %}
        {% endfor %}
          </tr>
        {% endfor %}


      </tbody>
    </table>

</div>
  <div  class="mycol"> 
    <table class="myTable" style=>
      <thead>
      <tr>
        <th class="" rowspan="2" id="nrow-2" style="width: 90px">Средний балл</thd>
        <th class=""  id="nrow-2 " style="width: 60px">Итоговая</th>
      </tr>
     
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td id="ball{{ student.pk }}"></td>
            {% get_marks_itog period=period.pk student=student.pk load=load_pk.pk as mark_itog %}
            <td period="{{ period.pk }}" id="i{{ student.pk }}" class="itog" student="{{ student.pk }}" load="{{ load_pk.pk }}" markpk="{{mark_itog.pk}}" >{% if mark_itog.mark %}{{ mark_itog.mark }}{% endif %}{% if mark_itog.not_certified == 1 %}н/а{% endif %}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
</div>

</div>
<input style="display: none;" id="mark" class="form-control" type="text">
<style>
.mycol {padding-left: 0; padding-right:0;}
tbody td{
height: 32px;
}
thead th{
background-color: #EEEEEE;
border: none;
color: grey;
padding: 5px;
height: 32px;
text-align: left;
text-shadow: 1px 1px 1px #fff;
white-space: nowrap;
}
thead{
width:200px;
}
tbody td{
height: 32px;
}
table{
width:100%;
float:left;

}
.day,.month,.date{
text-align: center;
}
#mark{
  position: static;
}
</style>
<script type="text/javascript">

function select(url){

  

  $.ajax({
  type: "GET",
  url: url,
  success: function (result) {  
  $('#periods option').remove();
  name_period=''
  if (result.length==2){
  name_period=' полугодие'
  }
  if (result.length==4){
  name_period=' четверть'
  }
  if (result.length==3){
  name_period=' триместр'
  }
  for(var i = 1; i<=result[1]; i++){ //data[1] contains no of sem
  $('#periods').append('<option value="' + result[i-1] + '">' + i+name_period +'</option>');
  }

  }

  });

}

$(document).on('change', 'select#loads', function () {
  var url = $(self.options[self.selectedIndex]).attr("url"); 
  select(url)
});


$(document).on('change', 'select#classes', function () {
var url = $(this.options[this.selectedIndex]).attr("url"); 
$.ajax({
type: "GET",
url: url,
success: function (result) {

$('#loads option').remove();

for (var i = 1; i <= result.loads.length; i++) {

 $('#loads').append('<option url="'+ result.url[i-1]  + '">' + result.names[i-1] +'</option>');
}
var load_first=$("#loads option:first").attr("url")
select(load_first)

}

});

});
    
</script>
<script>


$('.itog').on('click',function(event){
    
    click_mark(this)
})

$('.day').on('click',function(event){
    
    click_mark(this)
})

   $('#mark').on('keypress',function(e) {
    code = (window.event) ? window.event.keyCode : e.which;

    if(code == 13) {
        $(this).blur()
    }
});
  $('#mark').on('focusout',function(){
    var min_mark=parseInt('{{ request.user.institution.system_mark.min_mark }}')
    var max_mark=parseInt('{{ request.user.institution.system_mark.max_mark }}')
    var url='{% url 'Mark' %}'
    var tocken='{{ csrf_token }}'
    save_mark(this,url,tocken,min_mark,max_mark)

  })

 

  $('.mark_tr').each(function(){

    var mark_sum=0
    var mark_lenght=0
    
    var student=$(this).children('td').attr("student")
    $('.'+student).each(function(){
      var mark=$(this).text()
           
           if (mark>=1 & mark<=100){
              mark_sum=mark_sum+parseInt(mark)
              mark_lenght=mark_lenght+1
           }


    });
        var ball=mark_sum/mark_lenght
        ball=ball.toFixed(2)
        if (ball>0){
        $('#ball'+student).text(ball)
      }
        else{
          $('#ball'+student).text('')
        }
        
  });

</script>



{% endblock %}