{% extends 'lk.html' %}
{% load mark_tags %}
{% load user_tags %}
{% load attendance %}

{% block h2 %}
<i class="bi bi-layout-text-sidebar"></i> {{ title }} 
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        
        <div class="select-block">
            <div class="select-title">
                Класс:
            </div>
            <div class="select-wrapper">
                <select name="classes" id="" class="select">
                    {% for class in classes %}
                    <option value="{{ class.pk }}" {% if load_pk.class_pk.pk == class.pk %} selected="" {% endif %}>{{ class }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="select-block">
            <div class="select-title">
                Предмет:
            </div>
            <div class="select-wrapper">


                <select name="load" id="" class="select">
                    {% for load in loads %}
                    <option {% if load_pk.pk == load.pk %} selected="" {% endif %}  value="{{ load.pk }}">{{ load.subject_pk }} {% if load.subgroup %} ({{ load.subgroup.name }}) {% endif %}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="select-block">
            <div class="select-title">
                Учебный период:
            </div>
            <div class="select-wrapper">
                <select name="period" id="periods" class="select">
                    {% for periods in periods %}
                        <option {% if period.pk == periods.pk %} selected="" {% endif %} value="{{periods.pk}}">{{ forloop.counter }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="select-block">
            <button class="show_journal" type="submit">Показать</button>
        </div>
        
    </div>
</form>

        <div class="form-group">

         <div class="select-block">
            <div class="select-title">
                Цветные оценки:
            </div>
            <div class="" style="margin-left:4px">
                <div class="switch">
                    <input class="switch_checkbox" type="checkbox" checked >
                </div>
            </div>
             <div class="select-block">
            <div class="select-title" style="margin-left:40px">
                Выставление с клавиатуры:
            </div>
            <div class="" style="margin-left:4px">
                <div class="switch">
                    <input class="switch_checkbox" type="checkbox" >
                </div>
            </div>
            </div>
        <div class="select-block">
            <a href="{% url 'LessonTopics' load=load_pk.pk period=period.pk %}" style="margin-left:6px" class="show_journal">Темы уроков и домашнее задание</a>
        </div>
            <div class="select-block" style="margin-left:-6px">
            <a class="show_journal">Итоговые оценки</a>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <td class="number" rowspan="3">№</td>
                <td class="fio" rowspan="3">Фамилия, Имя</td>
                <td class="month" colspan="0" id="sep" >Сентябрь</td>
                <td class="month" colspan="0" id="oct" >Октябрь</td>
                <td class="month" colspan="0" id="nov" >Ноябрь</td>
                <td class="month" colspan="0" id="dec" >Декабрь</td>


                <td class="month" colspan="0" id="jan" >Январь</td>
                <td class="month" colspan="0" id="feb" >Февраль</td>
                <td class="month" colspan="0" id="march" >Март</td>


                <td class="month" colspan="0" id="april" >Апрель</td>
                <td class="month" colspan="0" id="may" >Май</td>
                <td class="sball" rowspan="3">Средений балл</td>
                <td class="itog" rowspan="3">1 полугодие</td>
            </tr>
            <tr class="journal_dates" >
                {% for lesson in lessons %}
                <td class="date " colspan="{{ lesson.types.all.count }}">{{ lesson.date|date:'d' }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for lesson in lessons %}
                {% if lesson.types.all %}
                {% for lesson_type in lesson.types.all %}
                <td class="type_lessons day{{ lesson.date|date:'m' }}">{{ lesson_type.short_name }}</td>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td class="num">{{ forloop.counter }}</td>
                <td class="td_fio" >{{ student.user.last_name }} {{ student.user.first_name }}</td>
                {% for lesson in lessons %}
                {% for lesson_type in lesson.types.all %}
                <td class="mark" >
                    {% get_marks lesosn=lesson.pk type_l=lesson_type.pk student=student.pk as mark %}

                    <div class="mark_div mark{% if mark.mark %}{{ mark.mark }}{% endif %} {% if mark.mark2 %}one_mark{% endif %}">{% if mark.mark %}{{ mark.mark }}{% endif %}</div>

                    <input class="edit_mark" type="text" type_lesson="{{ lesson_type.id }}" student="{{ student.pk }}" lesson="{{ lesson.pk }}">
                </td>
                {% endfor %}
                {% endfor %}
                <td class="average" id="av{{ student.pk }}">
                    {% get_average student=student.pk as average %}
                    {{ average }}

                </td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



<nav>
    
    

    
    <div class="pagination">
        {% for page in lessons.paginator.page_range %}
        <form method="post">
            <input type="text" name="load" value="{{ load_pk.pk }}" style="display: none;">
            {% csrf_token %}
        <button name="page" value="{{ page }}">{{ page }}</button>
        </form>
        {% endfor %}
    </div>
    
    
</nav>

    <script>
       function updateColspan(selector, targetElementId) {
    const count = document.querySelector('table').querySelectorAll(selector).length;
    if (count) {
        const targetElement = document.getElementById(targetElementId);
        targetElement.setAttribute('colspan', count);
        targetElement.style.display = 'table-cell'; // показываем элемент
    }
}

// Вызываем функцию для каждого месяца
updateColspan('.day09', 'sep');
updateColspan('.day10', 'oct');
updateColspan('.day11', 'nov');
updateColspan('.day12', 'dec');
updateColspan('.day01', 'jan');
updateColspan('.day02', 'feb');
updateColspan('.day03', 'march');
updateColspan('.day04', 'april');
updateColspan('.day05', 'may');




    </script>

{% endblock %}