{% extends 'user_index.html' %}
{% load timetable_teacher %}
{% block h2 %}
<i class="bi bi-alarm"></i> Мое расписание
{% endblock %}


{% block content %}
	



<table class="rtable table-hover">
  <thead>
    <th>Смена</th>
    <th>№ урока</th>
    <th>Понедельник</th>
    <th>Вторник</th>
    <th>Среда</th>
    <th>Четверг</th>
    <th>Пятница</th>
    <th>Суббота</th>
  </thead>
  <tbody>
    {% for i in numbers %}
    <tr>
    <td>1</td>
    <td>{{ forloop.counter }}</td>
    
        {% for lesson in '012345' %}
        <td>
        {% with lesson=lessons.0|return_item:i|return_item:lesson %}
        {% if lesson %}{{ lesson.class_pk }}/{{ lesson.subject_pk.subject_pk }} {% endif %}
        {% endwith %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    
    {% if request.user.institution.second_shift %}
    {% for i in numbers %}
    <tr>
    <td>2</td>
    <td>{{ forloop.counter }}</td>
    
        {% for lesson in '012345' %}
        <td>
        {% with lesson=lessons.1|return_item:i|return_item:lesson %}
        {% if lesson %}{{ lesson.class_pk }}/{{ lesson.subject_pk.subject_pk }} {% endif %}
        {% endwith %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>


</table>



   
{% endblock %}