{% load static %}
<header>
<a href="" class="lk-logo">
<img src="{% static 'img/lk-logo.png'%}" alt="">
</a>
<nav>

  <ul>
  <li>

      <a href="#">Главная</a>
  </li>
  <li>


      <a href="#">Мой класс <i class='bx bx-chevron-down'></i></a>
      <ul>
        <li><a href="#">Ученики</a></li>
        <li><a href="">Журнал</a></li>
      </ul>

  </li>
  <li>
    <a href="#">Журналы <i class='bx bx-chevron-down'></i></a>

    <ul>
        <li><a href="#">Мой журнал</a></li>
        <li><a href="#">Посещаемости</a></li>
      </ul>


  </li>

      <li>
    <a href="#">Отчеты</a>



  </li>
  </ul>
</nav>

</header>