 {% load user_tags %}
{% load static %}

<section class="">

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="{% url 'HomePageUserAccount' %}">
          <img src="https://sun9-60.userapi.com/impg/WHZVxMgGPfPet6Vsg2lgjQD5XZGQKZVs0Q3LOA/5WUiXPA2PnI.jpg?size=917x232&quality=95&sign=f90c5e9166817534e86853262651efa0&type=album" alt="" width="70px" height="20px">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Меню
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
             <ul class="navbar-nav mr-auto" >
     <li class="nav-item ">

        <a class="nav-link "  href="{% url 'HomePageUserAccount' %}"><i class="bi bi-building"></i> Главная <span class="sr-only">(current)</span></a>
      </li>

      {% if request.user.institution.typeInstitutions.title == 'Общеобразовательная организация' %}
          {% include 'menu/admin_school.html' %}
       {% endif  %}

       {% if request.user.institution.typeInstitutions.title == 'Профессиональная образовательная организация' %}
          {% include 'menu/admin_poo.html' %}
       {% endif  %}


        {% if perms.institutions.delete_institutions %}
 {% if not request.user.is_superuser and  request.user.institution.typeInstitutions.title == 'Орган управления' %}
      <li class="nav-item ">

        <a class="nav-link "  href="{% url 'institutionsHome' %}"><i class="bi bi-wrench"></i> Организация </a>
      </li>

{% endif %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-building"></i> Подведомственные организации
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if perms.user_account %}
          <a class="dropdown-item" href="{% url 'InstitutionCreate' %}">Реестр организаций</a>
          {% endif %}

          <a class="dropdown-item" href="{% url 'UsersUo' %}">Пользователи ПОУ</a>
        </div>


      </li>



      <li class="nav-item ">

        <a class="nav-link "  href="{% url 'JournalPou' %}"><i class="bi bi-journal-bookmark"></i> Журналы ПОУ </a>
      </li>

      <li class="nav-item ">

        <a class="nav-link "  href="{% url 'ConnectionRequests' %}"><i class="bi bi-card-checklist"></i> Заявки </a>
      </li>



       {% endif %}



    {% if not perms.classes.change_classes and  request.user|class_manager %}

    {% if request.user.institution.typeInstitutions.title == 'Общеобразовательная организация' %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-easel"></i> Мой класс
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="{% url 'SubgroupView' %}">Подгруппы</a>
          <a class="dropdown-item" href="{% url 'ClassJournal' %}">Классный журнал</a>



        </div>
      </li>

      {% else %}

       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-easel"></i> Моя группа
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="{% url 'SubgroupView' %}">Подгруппы</a>
          <a class="dropdown-item" href="{% url 'ClassJournal' %}">Журнал группы</a>



        </div>
      </li>
      {% endif %}
      {% endif %}

      {% if request.user|student %}
        <li class="nav-item">
          <a class="nav-link " href="{% url 'HomeDiary' %}"><i class="bi bi-book"></i> Дневник</a>
        </li>

         <li class="nav-item">
          <a class="nav-link " href="{% url 'Grade' %}"><i class="bi bi-bar-chart-fill"></i> Табель успеваемости</a>
        </li>

      {% endif %}
    </ul>


          <ul class="navbar-nav m-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-person-circle"></i> Профиль
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="{% url 'EditMyAccount' %}">Настройки</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

  </section>

  <style>
    body{
      font-size: 14px;
    }
  </style>