 {% load user_tags %}
{% load static %}

<style>
  .nav-link img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}

nav{
  background-color:white;
}


</style>

<nav class="navbar navbar-expand-xl navbar-light bg-light" style="height:52px">
  <a class="navbar-brand" href="#">
    <img src="{% static 'img/busel2_0-logo.png' %}" style="width:40px; height:40px"  alt="">
   
  </a>
   <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'HomePageUserAccount' %}">Главная <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user|is_group %}
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Организация
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'institutionsHome' %}">Информация</a>
          <a class="dropdown-item" href="{% url 'StudyPeriods' %}">Учебные периоды</a>
          <a class="dropdown-item" href="{% url 'Bell_profile_list' %}">Расписание звонков</a>
          <a class="dropdown-item" href="{% url 'Subject_list' %}">Учебные предметы</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'Curriculum' %}">Учебные планы</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Классы
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'Class' %}">Список классов</a>
          <a class="dropdown-item" href="{% url 'SubgroupView' %}">Подгруппы</a>
          <a class="dropdown-item" href="{% url 'Load' %}">Учебная нагрузка</a>
          <a class="dropdown-item" href="{% url 'TimetableClasses' %}">Расписание</a>

          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Пользователи
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'users' %}">Сотрудники</a>
          <a class="dropdown-item" href="{% url 'StudentList' %}">Обучающиеся</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Журналы
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'JournalView' %}">Журнал организации</a>
          <a class="dropdown-item" href="{% url 'MyJournal' %}">Мой журнал</a>
        </div>
      </li>



      <li class="nac-item">
        <a class="nav-link" href="{% url 'ReportsView' %}">Отчеты</a>
      </li>
       {% endif %}

       {% if request.user.is_superuser %}
      <li class="nac-item">
        <a class="nav-link" href="{% url 'InstitutionCreate' %}">Реестр организаций</a>
      </li>

       {% endif %}
  {% if request.user|teacher %}
<li class="nac-item">
        <a class="nav-link" href="{% url 'MyJournal' %}">Мой журнал</a>
      </li>
  {% endif %}
    </ul>

    <div class="navbar-nav ml-auto">

      <div class="nav-item dropdown">
        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action">

           

           {% if request.user.avatar %}
    
     <img class="avatar" alt="Avatar" src="{{ request.user.avatar.url }}" alt="" height="36px">
    {% else %}
    <img class="avatar" alt="Avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" height="36px" >
    {% endif %}
            {{ request.user.last_name }} {{ request.user.first_name }} {{ request.user.middle_name }}
          </a>
        <div class="dropdown-menu">
          <!---
          <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></a>
          <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a></a>
          <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a></a>
          <div class="dropdown-divider"></div>
        -->
          <a href="{% url 'logout' %}" class="dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i> Выход</a></a>
        </div>
      </div>
    </div>
  </div>
</nav>