{% extends 'user_index.html' %}
{% block h2 %}
Список классов на {{ request.user.institution.year }}
{% endblock %}


{% block content %}
	


<table class="rtable">
  <thead>
    <tr>
      <th>Номер</th>
      <th>Литер</th>
      <th>Учебный план</td>
      <th>Профиль учебный периодов</th>
      <th>Классный руководитель</th>
      <th colspan="2">Действие</th>
    </tr>
  </thead>
  <tbody>
    {% for class in classes %}
				<tr>
					<td>{{ class.class_number }}</td>
					<td>{{ class.letter }}</td>
					<td>{{ class.сurriculum }}</td>
					<td>{{ class.period_profile }}</td>
					<td>{{ class.class_teacher }}</td>
					<td> <a href="{{ class.get_absolute_url  }}">Редактировать</a></td>
					<td><a href="">Удалить</a></td>
				</tr>
				{% endfor %}

  </tbody>
</table>




		<!-- Button trigger modal -->
		<button type="button" class="button-41" data-toggle="modal" data-target="#exampleModal">
  			Добавить
		</button>
		<form method="POST">
		<div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  			<div class="modal-dialog modal-xl" role="document">
    			<div class="modal-content ">
      				<div class="modal-header bg-success text-white">
        			<h5 class="modal-title ">Добавление класса</h5>
        			<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          				<span aria-hidden="true">&times;</span>
        			</button>
      				</div>
      	<div class="modal-body">
        	{% csrf_token %}
        	{{ form }}
      	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-success">Сохранить</button>
      </div>
    </div>
  </div>
</div>
</form>
	
	

   
{% endblock %}