{% extends 'user_index.html' %}
{% block h2 %}
Редактирование класса
{% endblock %}


{% block content %}

  <div class="parrent pull-left">
    <ul class="nav nav-tabs nav-stacked">
      <li class="tab-pane active"><a href="#tab1" data-toggle="tab" class="nav-link active">Информация</a></li>
      <li class="tab-pane"><a href="#tab2" data-toggle="tab" class="nav-link">Подгруппы</a></li>

    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane active in mt-3" id="tab1">
      <form method="POST">
    {% csrf_token %}
    {{ form  }}
    <button class="btn btn-success mt-3" type="submit" name="info">Сохранить</button>
    </form>
    </div>

    <div class="tab-pane " id="tab2">
       <table class="table table-sm table-bordered mt-3">
        <tr>
          <td>№</td>
          <td>Предмет</td>
          <td>Подгруппа</td>
        </tr>
        {% for subgroup in subgroups %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ subgroup.subject_pk }}</td>
          <td>{{ subgroup.name }}</td>
        </tr>
        {% endfor %}
    </table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Добавить
</button>

<form method="post">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление учебных подгрупп</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {% csrf_token %}
        {{subroups}}

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button name="subroups" type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>
</form>
    </div>

    <div class="tab-pane" id="tab3">
      <p>Hello 3</p>
    </div>
  </div> <!--/.tab-content-->
</div><!--/.tab-wrap-->

<!--
	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" href="#tab1" data-toggle="tab">Информация</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#tab2" id="history-tab" data-toggle="tab">Подгруппы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">..</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="tab1">
  	<form method="POST">
  	{% csrf_token %}
  	{{ form  }}
  	<button class="btn btn-success" type="submit" name="info">Сохранить</button>
  	</form>
  </div>
  <div class="tab-pane fade" id="tab2" >
  	
  	<table class="table table-sm table-bordered">
        <tr>
          <td>№</td>
          <td>Предмет</td>
          <td>Подгруппа</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Родной язык</td>
          <td>Подгруппа 1</td>
        </tr>
    </table>
  -->
   

  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>	
	 <script type="text/javascript">
    $(function(){
  var hash = window.location.hash;
  hash && $('ul.nav a[href="' + hash + '"]').tab('show');

  $('.nav-tabs a').click(function (e) {
    $(this).tab('show');
    var scrollmem = $('body').scrollTop() || $('html').scrollTop();
    window.location.hash = this.hash;
    $('html,body').scrollTop(scrollmem);
  });
});
  </script>
	

{% endblock %}