{% extends 'user_index.html' %}
{% load load_tags %}
{% block h2 %}
Учебная нагрузка
{% endblock %}


{% block content %}
	<select onchange="top.location=this.value" class="custom-select custom-select-sm" style="width:auto" name="" id="">
		{% for classes in classes %}
		<option  {% if class.pk == classes.pk %} selected="" {% endif %} value="{{ classes.class_load }}">{{ classes.class_number }}{{ classes.letter }}</option>
		{% endfor %}
	</select>

	<form method="POST" action="">
	{% csrf_token %}
	<table class="rtable mt-3">
		<thead>
		<tr>
			<th>Предмет</th>
			<th>Подгруппа</th>
			<th>Преподаватель</th>
		</tr>
		</thead>
		{% for subject in subjects %}
		{% is_group subject=subject.pk as group_true %}
		{% if group_true %}
		<tr>
			<td>{{ subject.subject }}</td>
			<td></td>
			<td style="padding: 6px 12px;">
			<select  class="custom-select custom-select-sm "  name="subject_{{ subject.pk }}" id="">
				<option value="">---------</option>
				{% get_teacher subject=subject.pk  as teacher %}
				{% for teachers in teachers %}
					<option   {% if teacher == teachers.pk  %}    selected="" {% endif %}  value="{{ teachers.pk }}">{{ teachers }}</option>
				{% endfor %}
			</select>			
			
			</td>
		</tr>
		{% else  %}
		{% get_subgroup subject=subject.pk as a %}
				{% for i in a %}
				
				
		<tr>
			<td>{{ i.subject_pk }}</td>
			<td>{{ i.name }}</td>
			<td><select class="custom-select custom-select-sm" name="subject_{{ subject.pk }}_subgroup_{{ i.pk }}" id="">
				<option value="">---------</option>
				{% get_teacher subject=subject.pk subgroup=i.pk as teacher %}

				{% for teachers in teachers %}
					<option {% if teacher == teachers.pk  %}    selected="" {% endif %} value="{{ teachers.pk }}">{{ teachers }}</option>
				{% endfor %}

			</select></td>
		</tr>
		{% endfor %}
		{% endif %}
		{% endfor %}
	</table>
	<div>
	 <button type="submit" class="btn btn-primary mt-3"><i class="bi bi-pencil-square"></i> Обновить</button>
	</div>
	</form>
{% endblock %}