{% extends 'user_index.html' %}



{% block content %}


{% if classes %}
<div class="card mt-">
  <h5 class="card-header">Поиск учащихся</h5>
  <div class="card-body">
   <form class="needs-validation" novalidate method="get">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Фамилия</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="" value="{% if surname %}{{ surname }}{%endif%}" required name="surname">
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Имя</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="" value="{% if name %}{{ name }}{%endif%}" required name="name">
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Отчество</label>
      <div class="input-group">

        <input type="text" class="form-control" id="validationCustomUsername" placeholder="" aria-describedby="inputGroupPrepend" required value="{% if middle_name %}{{ middle_name }}{%endif%}" name="middle_name">
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-1 mb-3">
      <label for="validationCustom03">Класс</label>

      <select id="inputState" class="form-control" name="class_pk">
        <option value="None">...</option>
        {% for class in classes %}
        <option  {% if class.pk == class_pk %} selected {%endif%} value="{{ class.pk }}" >{{ class }}</option>
        {% endfor %}
      </select>
    </div>

  </div>

  <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i> Поиск</button>
</form>

  </div>
</div>


   <table class="rtable mt-3">
    <thead class="thead-light">
     <tr>
    	<th>№</th>
       <th style="text-align: center">ФИО</th>
       <th>Пол</th>
       <th>Дата рождения</th>
       <th>Класс</th>
       <th style="text-align: center" {% if perms.classes.delete_student %} colspan="2" {% endif %}>Действие</th>       
     </tr>
     </thead>
     	{% for i in object_list  %}
      {% if i.user %}
     	<tr>
     		<td>
          {{forloop.counter0|add:page_obj.start_index }} 
        </td>
     		<td>{{ i.user.last_name  }}  {{ i.user.first_name }} {{ i.user.middle_name }}</td>
        <td>{{ i.user.gender }}</td>
        <td>{{ i.user.birth_day }}</td>
        <td>{{ i.class_pk }}</td>
     		<td><a href="{{ i.edit }}">Личное дело</a></td>
        {% if perms.classes.delete_student %}
     		<td>
          
          <a class="delete_student" href="#" pk="{{ i.pk }}" name="{{ i.user.last_name  }} {{ i.user.first_name }} ({{ i.class_pk }} класс)">Отчислить</a>
          
        </td>
        {% endif %}
     	</tr>
      {% endif %}
     	{% endfor %}
   </table>

<nav aria-label="...">
  <ul class="pagination">
    
      
    

    
    
      <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="page-link" href="?page=1" tabindex="-1">Первая</a>
      </li>

       {% for page in page_obj.paginator.page_range %}
        <li class="page-item {%  if page_obj.number == page   %} disabled {% endif %}"><a class="page-link" href="?page={{ page }}" >{{ page }}</a></li>
    {% endfor %}



  </ul>
</nav>

  {% if perms.classes.add_student %}
   <a class="btn btn-success" href="{% url 'StudentAdd' %}"><i class="bi bi-person-plus"></i> Добавить</a>
   <a class="btn btn-success" href="{% url 'StudentImport' %}"><i class="bi bi-file-earmark-arrow-up"></i> Импорт</a>
  {% endif %}

{% else %}
<div class="alert alert-warning" role="alert">
  На {{ request.user.institution.year }} не найдены классы.
</div>

{% endif %}




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="exampleModalLabel">Отчисление обучающегося <a id="name_student"></a></h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'DeleteStudent' %}" method="POST">
        {% csrf_token %}
      <div class="modal-body">
        <p>Выберите дату</p>
        <input type="date" name="date" id="date" class="form-control form-control-sm">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-danger">Отчислить</button>
        <input  id="pk" name="pk" style="display: none;" type="text">
      </div>
    </div>
    </form>
  </div>
</div>

<script>
  $('.delete_student').on('click',function(event){
    const modal = new bootstrap.Modal(document.querySelector('#exampleModal'));
    modal.show();
    var name=$(this).attr('name')
    var pk=$(this).attr('pk')
    $("#name_student").text(name)
    $("#pk").attr('value',pk)
    $("#date").val('')
  })

</script>

{% endblock %}