{% extends 'user_index.html' %}



{% block content %}
   <table class="rtable ">
    <thead class="thead-light">
     <tr>
    	<th>№</th>
       <th style="text-align: center">ФИО</th>
       <th>Пол</th>
       <th>Дата рождения</th>
       <th>Класс</th>
       <th style="text-align: center" colspan="2">Действие</th>       
     </tr>
     </thead>
     	{% for i in users %}
     	<tr>
     		<td>{{ forloop.counter }}</td>
     		<td>{{ i.user.last_name  }}  {{ i.user.first_name }} {{ i.user.middle_name }}</td>
        <td>{{ i.user.gender }}</td>
        <td>{{ i.user.birth_day }}</td>
        <td>{{ i.class_pk }}</td>
     		<td><a >В разработке</a></td>
     		<td><a href="{{ i.user.ban }}">Отчислить</a></td>
     	</tr>
     	{% endfor %}
   </table>
   <a class="btn btn-success" href="{% url 'StudentAdd' %}">Добавить</a>
   <a class="btn btn-danger" href="{% url 'StudentImport' %}">Импорт</a>
{% endblock %}