{% extends 'user_index.html' %}

{% block h2 %}

{% endblock %}

{% block content %}

 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">



<form class="form-horizontal" method="POST" enctype="multipart/form-data">
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="{% if form.instance.avatar %} {{ form.instance.avatar.url }} {% else %}https://bootdey.com/img/Content/avatar/avatar1.png{% endif %}" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">{{ form.instance.last_name }}
                                <label class="label label-info">{{ form.instance.first_name }}</label>
                            </li>
                            <li class="email"><a href="#">{{ form2.instance.class_pk }} класс</a></li>
                            <li class="activity">{{ form2.instance.class_pk.year }} </li>
                        </ul>
                    </div>
                    <nav class="side-menu">
                        <ul class="nav">
                            <li class="active"><a href="#"><span class="fa fa-user"></span> Личное дело</a></li>
                            <!--
                            <li><a href="#"><span class="fa fa-cog"></span> Settings</a></li>
                            <li><a href="#"><span class="fa fa-credit-card"></span> Billing</a></li>
                            <li><a href="#"><span class="fa fa-envelope"></span> Messages</a></li>
                            
                            <li><a href="user-drive.html"><span class="fa fa-th"></span> Drive</a></li>
                            <li><a href="#"><span class="fa fa-clock-o"></span> Reminders</a></li>
                            --->
                        </ul>
                    </nav>
                </div>
                <div class="content-panel">
                    <h2 class="title">Личное дело учащегося<span class="pro-label label text-danger">Beta</span></h2>

                    
                        {% csrf_token %}
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Основная информация</h3>
                            <div class="form-group avatar">
                                <figure class="figure col-md-2 col-sm-3 col-xs-12">
                                    <img class="img-rounded img-responsive" src="{% if form.instance.avatar %} {{ form.instance.avatar.url }} {% else %}https://bootdey.com/img/Content/avatar/avatar1.png{% endif %}" alt="">
                                </figure>
                                <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                                    {{ form.avatar }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Фамилия</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    {{ form.last_name }}
                                </div>
                            </div>
        
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Имя</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    {{ form.first_name }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Отчество</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    {{ form.middle_name }}
                                </div>
                            </div>
                            {% if perms.classes.delete_student %}
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Класс</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    {{ form2.class_pk }}
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Пол</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    {{ form.gender }}
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 col-xs-12 control-label">Дата рождения</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    {{ form.birth_day }}
                                </div>
                                
                            </div>
                        </fieldset>
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Дополнительная информация</h3>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Email</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    {{ form.email }}
                                </div>
                            </div>

                            
                        </fieldset>
                        <hr>
                        <div class="form-group">
                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                <input class="btn btn-outline-primary" type="submit" value="Обновить данные">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>


{% endblock %}