{% extends 'user_index.html' %}


{% block h2 %}
<i class="bi bi-people-fill"></i> {{ title }}
{% endblock %}



{% block content %}


{% if classes %}
<div class="card mt-">

  {% if request.user.institution.typeInstitutions.title == 'Профессиональная образовательная организация' %}
    <h6 class="card-header"><i class="bi bi-search"></i> Поиск студентов</h6>
  {% else %}
  <h6 class="card-header"><i class="bi bi-search"></i> Поиск учащихся</h6>

  {% endif %}
  <div class="card-body">
   <form class="needs-validation" novalidate method="get">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Фамилия</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="" value="{% if surname %}{{ surname }}{%endif%}" required name="surname">

    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Имя</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="" value="{% if name %}{{ name }}{%endif%}" required name="name">
     
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Отчество</label>
      <div class="input-group">

        <input type="text" class="form-control" id="validationCustomUsername" placeholder="" aria-describedby="inputGroupPrepend" required value="{% if middle_name %}{{ middle_name }}{%endif%}" name="middle_name">

      </div>
    </div>
  </div>
  <div class="form-row">


      {% if request.user.institution.typeInstitutions.title == 'Профессиональная образовательная организация' %}
           <div class="col-md-1 mb-3">
      <label for="validationCustom03">Группа</label>

      <select id="inputState" class="form-control" name="class_pk">
        <option value="None">...</option>
        {% for class in classes %}
        <option  {% if class.pk == class_pk %} selected {%endif%} value="{{ class.pk }}" >{{ class.name_group }}</option>
        {% endfor %}
      </select>
    </div>

      {% else %}
         <div class="col-md-1 mb-3">
      <label for="validationCustom03">Класс</label>

      <select id="inputState" class="form-control" name="class_pk">
        <option value="None">...</option>
        {% for class in classes %}
        <option  {% if class.pk == class_pk %} selected {%endif%} value="{{ class.pk }}" >{{ class }}</option>
        {% endfor %}
      </select>
    </div>


      {% endif %}

 
  </div>

  <button class="btn btn-info" type="submit"><i class="fa fa-search"></i> Поиск</button>
</form>

  </div>
</div>


  {% if perms.classes.add_student %}
  <div class="btns mt-3">
   <a class="btn btn-info" href="{% url 'StudentAdd' %}"><i class="bi bi-person-plus"></i> Добавить</a>
   <a class="btn btn-info" href="{% url 'StudentImport' %}"><i class="bi bi-file-earmark-arrow-up"></i> Импорт</a>
   <a class="btn btn-info" href="{% url 'StudentExport' %}"><i class="bi bi-file-arrow-down"></i> Экспорт в excel</a>
   </div>
  {% endif %}


  {% if delete_code %}

    <div class="alert alert-info mt-3"> <i class="bi bi-check-lg"></i> Учащиеся успешно были импортированы! Если вы сделали это ошибочно, вы можете <a href="{% url 'CancelImport' delete_code=delete_code %}" class="alert-link">отменить действие</a>.</div>

  {% endif %}
   <table class="table table-sm table-bordered table-hover mt-3">
    <thead class="bg-info text-white">
     <tr>
    	<th class="text-center">№</th>
       <th class="text-center">ФИО</th>
       <th class="text-center">Пол</th>
       <th class="text-center">Дата рождения</th>
       <th class="text-center">Дата зачисления</th>
       

      {% if request.user.institution.typeInstitutions.title == 'Профессиональная образовательная организация' %}
          <th class="text-center">Группа</th>
        {% else %}
        <th class="text-center">Класс</th>

        {% endif %}
       <th class="text-center">Код/логин</th>
       <th class="text-center" >Действие</th>    
     </tr>
     </thead>

     	{% for i in object_list  %}
      {% if i.user %}
     	<tr>
     		<td class="text-center">
          {{forloop.counter0|add:page_obj.start_index }} 
        </td>
     		<td>{{ i.user.last_name  }}  {{ i.user.first_name }} {{ i.user.middle_name }}</td>
        <td>{{ i.user.gender }}</td>
        <td>{{ i.user.birth_day }}</td>
        <td>{{ i.date_of_enrollment }}</td>

        

        <td class="text-center">{{ i.class_pk }}</td>
        <td class="{% if i.user.code %} text-muted {% endif %} text-center" title="{% if i.user.code %} не зарегистрирован{% endif %}">{% if i.user.code %}{{ i.user.code }}{% else %}{{ i.user.username }}{% endif %}</td>
        


        <td class="text-center">
          
          <a href="{{ i.edit }}" title="Личное Дело">
            <i class="bi bi-pen"></i>
          </a>
          {% if perms.classes.delete_student %}  
          <a class="delete_student" href="#" pk="{{ i.pk }}" name="{{ i.user.last_name  }} {{ i.user.first_name }}" title="Отчислить">
            
            <i class="bi bi-trash"></i>
          </a>

          {% endif %}

          {% if not i.user.code %}

          <a href="{% url 'PasswordReset' pk=i.user.pk %}" title="Сбросить пароль"><i class="bi bi-unlock-fill"></i></a>
          {% endif %}
        </td>

        
     	</tr>
      {% endif %}
     	{% endfor %}
   </table>

<nav aria-label="...">
  <ul class="pagination">
    
      
    

    
    
      <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="page-link" href="?page=1" tabindex="-1">Первая</a>
      </li>

       {% for page in page_obj.paginator.page_range %}
        <li class="page-item {%  if page_obj.number == page   %} disabled {% endif %}"><a class="page-link" href="?page={{ page }}" >{{ page }}</a></li>
    {% endfor %}



  </ul>
</nav>



{% else %}
<div class="alert alert-warning" role="alert">
  <i class="bi bi-exclamation-circle"></i> На {{ request.user.institution.year }} не найдены классы.
</div>

{% endif %}




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Отчисление обучающегося <a id="name_student"></a></h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'DeleteStudent' %}" method="POST">
        {% csrf_token %}
      <div class="modal-body">
        <p>Выберите дату</p>
        <input type="date" name="date" id="date" class="form-control form-control-sm">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-danger">Отчислить</button>
        <input  id="pk" name="pk" style="display: none;" type="text">
      </div>
    </div>
    </form>
  </div>
</div>

<script>
  $('.delete_student').on('click',function(event){
    const modal = new bootstrap.Modal(document.querySelector('#exampleModal'));
    modal.show();
    var name=$(this).attr('name')
    var pk=$(this).attr('pk')
    $("#name_student").text(name)
    $("#pk").attr('value',pk)
    $("#date").val('')
  })

</script>

{% endblock %}