{% extends 'user_index.html' %}



{% block content %}
	<table class="rtable">
		<thead>
		<tr>
			<th>№</th>
			<th style="width: 33%">Наименование шаблона</th>
			<th style="width: 33%">Учебный план</th>
			<th style="width: 34%">Действие</th>
		</tr>
		</thead>
		{% for template in templates %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td >{{ template.name }}</td>
			<td >{{ template.сurriculum }}</td>
			<td ><a href="{{ template.get_absolute_url }}">Редактировать</a></td>
		</tr>
		{% endfor %}
	</table>
	<form action="{% url 'AddTimetableTemplate' %}" method="POST">
		{% csrf_token %}
		<button name="class" value="{{class.pk}}" class="btn btn-success">Добавить</button>
		
	</form>
{% endblock %}