{% extends 'user_index.html' %}
{% load timetable %}


{% block h2 %}
<i class="bi bi-table"></i> {{ title }}
{% endblock %}

{% block content %}
<form action="" method="POST">
	{% csrf_token %}
	<select onchange="top.location=this.value" style="width:auto"  class="custom-select custom-select-sm"  name="" id="">
		{% for period in periods %}
		<option  {% if period.pk == period_pk %} selected="" {% endif %} value="{% url 'TimetableWeekPk' pk=class.pk period=period.pk %}">{{ forloop.counter }} {{ name_period }}</option>
		{% endfor %}
	</select>
	
	<table class="table table-sm table-bordered table-hover mt-3">
		<thead class="bg-info  text-white">
		<tr>
			<th class="text-center">№ недели</th>
			<th class="text-center">Интервал</th>
			<th class="text-center">Шаблон</td>
		</tr>
		</thead>
		{% for week in weeks %}
		<tr>
			<td class="text-center">{{ forloop.counter }} неделя</td>
			<td>{{ week.0}}-{{ week.1 }}</td>
			<td>
				{% check_weeks start=week.0 end=week.1 as check_week %}
				{% if check_week %}
				<select class="custom-select custom-select-sm" name="template{{ forloop.counter  }}" id="">
					<option value="">Выберите шаблон</option>
					{% for template in templates%}
					<option value="{{ template.pk }}">{{ template.name }}</option>
					{% endfor %}
				</select>
				{% else %}
				Уроки распределены <a class="" href="{% url 'DeleteLessons' class_pk=class.pk %}?begin={{week.2}}&end={{week.3}}">Удалить</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>


{% if request.user.institution.typeInstitutions.title == 'Профессиональная образовательная организация' %}
			<button type="submit" class="btn btn-info"><i class="bi bi-calculator"></i> Создать занятия</button>
			{% else %}
			<button type="submit" class="btn btn-info"><i class="bi bi-calculator"></i> Создать уроки</button>
			{% endif %}


</form>
{% endblock %}