{% extends 'user_index.html' %}
{% load timetable %}


{% block content %}
<form action="" method="POST">
	{% csrf_token %}
	<select onchange="top.location=this.value" style="width:auto"  class="custom-select custom-select-sm"  name="" id="">
		{% for period in periods %}
		<option  {% if period.pk == period_pk %} selected="" {% endif %} value="{% url 'TimetableWeekPk' pk=class.pk period=period.pk %}">{{ forloop.counter }} {{ name_period }}</option>
		{% endfor %}
	</select>
	
	<table class="table table-sm table-bordered mt-3">
		<tr>
			<td style="width:10%">№ недели</td>
			<td style="width:45%">Интервал</td>
			<td>Шаблон</td>
		</tr>
		{% for week in weeks %}
		<tr>
			<td>{{ forloop.counter }} неделя</td>
			<td>{{ week.0}}-{{ week.1 }}</td>
			<td>
				{% check_weeks start=week.0 end=week.1 as check_week %}
				{% if check_week %}
				<select class="custom-select custom-select-sm" name="template{{ forloop.counter  }}" id="">
					<option value="">Выберите шаблон</option>
					{% for template in templates%}
					<option value="{{ template.pk }}">{{ template.name }}</option>
					{% endfor %}
				</select>
				{% else %}
				Уроки распределены
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
<button type="submit" class="btn btn-success">Сохранить</button>
</form>
{% endblock %}