{% extends 'user_index.html' %}
{% block h2 %}
Расписание
{% endblock %}


{% block content %}
	<table class="rtable">
		<thead>
		<tr>
			<th >Класс</th>
			<th >Учебный план</th>
			<th colspan="3" class="text-center">Действие</th>
		</tr>
		</thead>
		{% for i in classes %}
		<tr>
			<td>{{ i.class_number }}{{ i.letter }}</td>
			<td >{{ i.сurriculum }}</td>
			<td ><a href="{{ i.timetable_templates }}">Шаблоны</a></td>
			<td ><a href="{{ i.timetable_weeks }}">Распределение уроков</a></td>
			<td ><a href="{% url 'EditLesson' class_pk=i.pk %}">Редактирование уроков</a></td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}