{% extends 'user_index.html' %}
{% load timetable %}


{% block content %}
	<form action="{% if not template %}{% url 'CreateTimetableTemplate' %}{% endif %}" method="POST">
	{% csrf_token %}
	<input class="form-control form-control-sm mt-2" type="text" name="profile" placeholder="Наименование профиля" required="" value="{{ template.name }}">
	
	
	<div class="row">
	{% for days in days %}
	

	<div class="col-6">
	<table class="table table-sm table-bordered   mt-3">
	
		
		<tr class=" ">
			<th class="text-center" colspan="5">{{ days }}</th>
		</tr>
		<tr class=" ">
			<th>№</th>
			<th >Время</th>
			<th>Предмет</th>
			<th>Кабинет</th>
			<th ></th>
		</tr>

		

		{% for num in '12345678' %}
		{% get_lesson day=forloop.parentloop.counter num=num as lesson %}
		{% if lesson %}
		{% get_subject day=forloop.parentloop.counter num=num as subjects %}
		{% if subjects %}
		{% for subject in subjects %}
			<tr>
			
			{% if forloop.counter == 1 %}

			<td id="num{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}"  rowspan="{{ subjects|length }}">{{ forloop.parentloop.counter }}</td>
			<td id="time{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}" rowspan="{{ subjects|length  }}">{{ lesson.start }}-{{ lesson.end }}</td>
			{% endif %}

			<td >
				<select  style="" class="custom-select custom-select-sm " name="{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}" value="{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}">
					<option value="">Выберите предмет</option>
					
					{% for load in loads %}
					<option   {% if subject.subject_pk.pk == load.pk %} selected="" {% endif %} subgroup="{% if load.subgroup  %}{{ load.subgroup.pk }}{% endif %}" value={{ load.pk }}>{{ load.subject_pk }} {% if load.subgroup  %} ({{ load.subgroup.name }}) {% endif %}</option>
					{% endfor %}
				</select>
			</td>
			<td  ><select disabled="" class="custom-select custom-select-sm " name="" id=""></select></td>
			<td class="text-center">
				{% if forloop.last %}
				<button rowspan=1 type="button" class="btn btn-sm" id="plus" value="{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}">+</button>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		{% else  %}
		<tr>
			
			
			<td id="num{{ forloop.parentloop.counter }}{{ forloop.counter }}"  rowspan="1">{{ forloop.counter }}</td>
			<td id="time{{ forloop.parentloop.counter }}{{ forloop.counter }}" rowspan="1">{{ lesson.start }}-{{ lesson.end }}</td>
			<td style="height:34px">
				<select  style="" class="custom-select custom-select-sm " name="{{ forloop.parentloop.counter }}{{ forloop.counter }}" value="{{ forloop.parentloop.counter }}{{ forloop.counter }}">
					<option value="">Выберите предмет</option>
					{% for load in loads %}
					<option   subgroup="{% if load.subgroup  %}{{ load.subgroup.pk }}{% endif %}" value="{{ load.pk }}">{{ load.subject_pk }} {% if load.subgroup  %} ({{ load.subgroup.name }}) {% endif %}</option>
					{% endfor %}
				</select>
			</td>
			<td  ><select disabled="" class="custom-select custom-select-sm " name="" id=""></select></td>
			<td class="text-center"><button rowspan=1 type="button" class="btn btn-sm" id="plus" value="{{ forloop.parentloop.counter }}{{ forloop.counter }}">+</button></td>
		</tr>
		{% endif %}
		{% endif %}
		{% endfor %}

	</table>

	</div>
	{% endfor %}
</div>
	<script>


		$('button[type="button"]').on('click', function() {
		var num=$('#num'+$(this).val())
  		var tr=$(this).closest('tr');
  		if ($(num).attr('rowspan')==1){
  		var td1=$(tr).children().eq(0);
  		var td2=$(tr).children().eq(1);
  		var td3=$(tr).children().eq(2);
  		var td4=$(tr).children().eq(3);
  		var td5=$(tr).children().eq(4);
  		var row=td1.attr('rowspan');
  		
  		var select=$(td3).children('select').find(":selected");
		var subgroup=select.attr('subgroup');
  	}
  		else {

  			var row=$('#num'+$(this).val()).attr('rowspan');
  			var td3=$(tr).children().eq(0);
  			var td4=$(tr).children().eq(1);
  			var td5=$(tr).children().eq(2);
  			var select=$(td3).children('select').find(":selected");
			var subgroup=select.attr('subgroup');

  		}
  		
		
  		
		
  		var newtr=$('<tr></tr>').insertAfter($(this).closest('tr')).attr('id','tr'+$(this).val());
  		$('#num'+$(this).val()).attr('rowspan',parseInt(row)+1)
  		$('#time'+$(this).val()).attr('rowspan',parseInt(row)+1)
  		$(newtr).append(td3.clone(true));
  		$(newtr).append(td4.clone());
  		$(newtr).append(td5.clone(true,true));
  		$(td5).children().remove();

  		$('#plus').attr('rowspan',parseInt(row)+1);
  		
 
  		select=null;
  		
  	

});

 			$("select").on("change", function() {
 			subgroup=$(this).find(':selected').attr("subgroup");
 			
 			
 			if (subgroup==0){
 				var tb=$(this).closest('table');
 				select_id=$(this).attr('value');
 				var tr=$(this).closest('tr');
 				

 				
 				
 				var num=$('#num'+select_id).attr('rowspan');

 				if (num!=1){
 					var tr_first=$('#num'+select_id).closest('tr');
 					var td5=$(tr_first).children().eq(4)
 					var td5_children=$(tr).children().eq(2)
 					$('#num'+select_id).attr('rowspan',1);
 					$('#time'+select_id).attr('rowspan',1);
 					$(tr_first).append(td5_children.clone(true));
 					$(td5).remove();
	 				var tb=$(this).closest('table');
	 				var tr=$(this).closest('tr');
	 				var tr_first=$('#num'+select_id).closest('tr');
	 				var td5=$(tr_first).children().eq(4)
	 				var td5_children=$(tr).children()
	 				
	 				$('#plus').attr('rowspan',1);
 					$(tb).find('tr#tr'+select_id).remove()
 			}

 			}
 			event.preventDefault();
		});


	</script>
	<button  name="class_pk" value="{{ class_pk }}" class="btn btn-success" type="submit" class="btn">Сохранить</button>
	</form>
{% endblock %}