{% extends 'user_index.html' %}
{% block h2 %}
Учебные планы
{% endblock %}


{% block content %}
	<table class="table table-bordered  table-sm">
		<thead>
		<tr>
			<td>
				Наименование
			</td>
			<td>
				Учебный год
			</td>

			<td colspan="3">
				Действие
			</td>
		</tr>
		</thead>
		<tbody>
			{% for curriculum in curriculums %}
			<tr>
				<td>{{ curriculum.title }}</td>
				<td>{{ curriculum.year }}</td>
				<td></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-success" href="{% url 'AddCurriculum' %}">Добавить</a>

   
{% endblock %}